body {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 12px;
}

.chat-p {
    margin:0;
    padding:0;
}

.user {
    padding: 10px;
    padding-left : 20px;
    padding-right : 20px;
    border-radius : 20px;
    background: #3cbec7;
    min-width: 100px;
    color : white;
    float:left;
    clear:both;
    margin-bottom: 10px;
    max-width: 250px;
}

.bot {
    padding: 10px;
    border-radius : 20px;
    padding-left : 20px;
    padding-right : 20px;
    min-width: 100px;
    background: #a579ca;
    float:right;
    clear:both;
    max-width: 250px;
    margin-bottom: 10px;
    text-align: right;
    color:white;
}

#box-header {
    padding:20px;
    background: #1f5fa5;
    color : white;
    cursor: pointer;
}

#bodybox {
    position: absolute;
    right: 20px;
    bottom: 20px;
    height: 550px;
    width: 350px;
    background-color: white;
    border-style: solid;
    border-width: 0px;
    box-shadow: 0px 2px 8px #846d6d;
    border-radius: 4px;
}

#img-div {
        margin-left: 200px;
    margin-top: 100px;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
    background: #2da5c9;
    width: 100%;
}

#messagebox {
    padding-top : 20px;
    height : 435px;
    padding: 5px;
    overflow: scroll;
    
}

.helpful-msg {
    clear: both;
    font-size: 11px;
    float: right;
    margin-top: -10px;
    margin-right: 10px;
}

.helpful-yes, .helpful-no {
    width : 30px;
    height : 30px;
}

.helpful-yes img, .helpful-no img {
    width : 20px;
    height : 20px;
    margin-top:3px;
}


#form {
    display: flex;
}

#form button {
    background: #2da5c9;
    color: white;
    border: none;
    width: 100px;
}

#chatborder {
   
}

.chatlog {
    font: 15px arial, sans-serif;
}

#chatbox {
    width: 300px;
    padding: 20px;
}

h1 {
    margin: auto;
}

pre {
    background-color: #f0f0f0;
    margin-left: 20px;
}